@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

html{
    scroll-behavior: smooth;
}

h1{font-size: 4.5em;}
h2{ font-size: 2.7em;margin-top: 20px;}
h3{ font-size: 1.7em;margin-top: 20px;}
li{ font-size: 1em;}
p{font-size: 1.15em;margin-top: 20px;}
a{ font-size: 1.25em;}
ul, li{
    padding: 0;
    list-style-type: none; 
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #578EC6;
    margin: 20px 0;
}

button:hover{
    background-color: #274872;
}

body{
    margin: 0;
    background-color: #f5f5f5;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: #3586d7;
}

.subtitulo{ 
    font-size: 1.2em;
    color: #051827;
}

.ColorBlock1{
    background-color: #BED1F2;
}


/*Menu de navegación*/
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: center;
}
.menu-horizontal > li > a{
	display: block;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 10em;
	background-color: rgba(5, 24, 39, 0.7);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: rgba(192, 212, 255, 0.7);
}
.menu-vertical li a{
    display: block;
	color: white;
	text-decoration: none;
}
header{
    background-color: rgb(245,245,245);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #3586d7;
    font-size: 1.7em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items:center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 25px;
}
header a{
    margin: 0px 10px;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #051827;
}
header a:hover{
    color: #578EC6;
}
/*Menu de navegación*/



#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/amador1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

footer{
    background-color: aliceblue;
}

footer p{
    font-size: 1em;
    margin: 0;
    padding: 12px;
    color: #787e86;
    padding: 12px;
}

footer .container{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.img-container{
    background-size: 100% 300px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25vw;
}


    /*Grid*/
    
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    column-gap: 30px;
  }

.grid-container a{
    text-decoration: underline;
    color: #051827;
}
.grid-container a:hover{
    color: #578EC6;
}

  .grid-container nav {
    padding-top: 50px;
    padding-left: 40px;
    border-right: 1px solid #ddd;
  }

  .grid-container nav li{
    list-style-type: disc;
    font-size:0.9em;
    margin-bottom: 15px;

  }
  article {
    padding: 30px;
  }

  article h2 {
    font-size: 3.5em;
    max-width: 4fr;
    text-align: center;
  }

  article .imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fit, 4fr);
    justify-content: center;
    }

  article img {
    margin: 30px 10px;
    width: 25em;
  }

  article p {
    margin-top: 30px;
    line-height: 2em;
    color: #000000;
  }

  aside {
    padding-top: 50px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
  }
  
  aside p{
    margin-top: 15px;
  }
  footer{
    background-color: aliceblue;
}

footer p{
    font-size: 1em;
    margin: 0;
    padding: 12px;
    color: #787e86;
    padding: 12px;
}

footer .container{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Responsive */

@media screen and (max-width: 1200px) {
    .grid-container nav{
        grid-column: span 3;
        border-right: 0;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    }
    
    .grid-container nav li{
        display: inline-block;
        margin-right: 10px;
    }

    article{   
        grid-column: span 2;
    }

    aside{   
        padding-top: 20px;
        padding-left: 10px;
        grid-column: span 1.5;

    }

}

@media screen and (max-width: 980px) {
    .grid-container nav{
       grid-column: span 3;
    }
    
    article, aside{
       grid-column: span 3; 
    }

    aside{
        border-left: none;
        border-top: 1px solid #ddd;
    }

}

@media (min-width: 820px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }
}